.homepage_wrapper{
    /*border: solid 3px green;*/
    display: grid;
    grid-template-rows: auto auto auto;

    /*this margin matches with the nav bar margin*/
    margin-left: 20%;

    /* this width is perfect for being in line with the title*/
    width: 60%;
}
.div_cohort, .div_port, .div_contact{
    /* border: solid 3px purple; */
    position: relative;
    height: 25vw;
    min-height: 150px;
    overflow: hidden;
    border: 3px solid white;

    /*div expansion when hovered*/
    transition: all 0.3s ease;
}

.div_cohort:hover, .div_port:hover, .div_contact:hover{
    border: dashed 5px #00bfff;
    transform: scale(1.03);
}

.background_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.content_overlay{
    position: absolute;
    z-index: 1;
    color: white;
    padding: 10vw;
    /*Use at least 20px, prefer 1vh, and never more than 10px.*/
    font-size: clamp(10px, 2vw, 20px);
    max-width: 50%;
}