.homepage_wrapper{
    /*border: solid 3px green;*/
    display: grid;
    grid-template-rows: auto auto auto;

    /*this margin matches with the nav bar margin*/
    margin-left: 20%;

    /* this width is perfect for being in line with the title*/
    width: 60%;
}
.div_cohort, .div_port, .div_contact{
    /* border: solid 3px purple; */
    position: relative;
    height: 25vw;
    min-height: 150px;
    overflow: visible;
    border: 3px solid white;

    /*div expansion when hovered*/
    transition: all 0.3s ease;
}

.div_cohort:hover, .div_port:hover, .div_contact:hover{
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: dashed 5px #3ec7f4;
    transform: scale(1.03);
}

.background_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.content_overlay{
    position: absolute;
    z-index: 1;
    color: white;
    padding: 10vw;
    /*Use at least 20px, prefer 1vh, and never more than 10px.*/
    font-size: clamp(10px, 2vw, 20px);
    max-width: 50%;
}

.intro_wrapper{
    border: 3px solid #3ec7f4;
    padding: 10%;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}
.intro_wrapper:hover{
    transform: scale(1.03);
    margin-bottom: 5vh;
}
.hp_para{
    margin-bottom: 5%;
}

.hover_image_rocket, .hover_image_satel, .hover_image_ship{
    position: absolute;
    height: auto;
    opacity: 0;
    transform: translateY(0); /* Default position */
    transition: opacity 0.6s ease, transform 0.6s ease, left 0.6s ease;
    pointer-events: none;
    /* border: 3px solid red; */
}
.hover_image_rocket{
    top: -20vh;
    left: 50vw;
    width: 10vw;
    transform: translateY(-200px); /* Initial offset */
}
.div_cohort:hover .hover_image_rocket{
    opacity: 1;
    transform: translateY(0); /* Comes down */
}
.hover_image_satel{
    top: 0vh;
    left: 30vw;
    width: 40vw;
    transform: rotate(-50deg) translateX(-20px); /* Starting tilted */
}
.div_port:hover .hover_image_satel{
    opacity: 1;
    transform: rotate(10deg) translateX(10px); /* Swings around */
}
.hover_image_ship{
    top:  0vh;
    left: 100vw;
    width: 40vw;         /* Or use % or vw */
    transform: translateX(0);
}
.div_contact:hover .hover_image_ship{
    opacity: 1;
    left: 30vw; /* Final position */
    transform: translateX(0); /* Or add some small slide for realism */
}