.div_navbar{
  display: grid;
  grid-template-rows: auto auto auto auto;
  position: fixed;
  height: 60vh;

  /*styling the background of the whole navbar*/
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  width: 20%;

  padding-top: 2%;
  text-align: center;

  /*adds rounded corners */
  border-radius: 10px;

  /*hover css*/
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.navbar ul{
  /* border: 3px solid red; */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0%;
  padding: 0%;
}
.navbar a{
  /* border: 3px solid grey; */
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 2vw;
}
.navbar a:hover{
  color: #00ccff;
}
.link_pages {
  color: #00bfff;
  text-decoration: none;
  display: block;
  border: 3px solid transparent; /* or border-bottom if it's horizontal */
  transition: all 0.3s ease;
}
/* Hover effect */
.link_pages:hover {
  /* border: 3px dashed #00bfff; */
}
/* Active (current page) */
.link_pages.active {
  border: 3px dashed #00C3FF;
}
/*this is to show the hover animation but it wraps the whole navebar*/
.navbar_wrapper{
  position: relative;
  display: inline-block;
}
.nav_image{
  z-index: 2;
  position: fixed;
  height: 60vh;

  /* width: 8vw;         
  max-width: 80px;     
  min-width: 32px;     
  height: auto;         */

  transition: filter 0.3s ease;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.navbar_wrapper:hover .div_navbar{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.navbar_wrapper:hover .nav_image{
  opacity: 0;
  transform: translateX(-50px);
}
@media (max-width: 768px) {
  .nav_image {
    /* border: 3px green solid; */
    width: 50px;
    height: 30vh;
  }

  .div_navbar {
    height: 25vh;
  }
}

@media (max-width: 480px) {
  .nav_image {
    border: 3px purple solid;
    height: 20vh;
    width: 30px;
  }

  .div_navbar {
    height: 20vh;
  }

  
}




