
/*==================================navbar=====================================*/
/*Css file for the component for the nav bar*/
.div_navbar{
  display: grid;
  grid-template-rows: auto auto auto auto;

  position: fixed;
  height: 100vh;

  border: solid blue 3px;
  width: 20%;
}

.navbar ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  padding: 0%;
}

.navbar a{
  color: #00ccff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 25px;
}

.navbar a:hover{
  color: white;
}

.link_pages {
  color: #00bfff;
  text-decoration: none;
  display: block;
  border: 3px solid transparent; /* or border-bottom if it's horizontal */
  transition: all 0.3s ease;
}

/* Hover effect */
.link_pages:hover {
  border: 3px dotted #00bfff;
}

/* Active (current page) */
.link_pages.active {
  border: 3px dotted #00bfff;
}

